/*Author: Caoimhe O'Brien*/
@charset "UTF-8";

/*----------------------------------------------------------------------------------------------------------------------*/
/* Global Styles */
html, body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    min-height: 100%; 
    font-family: 'Work Sans', sans-serif;
    background-color: #ffffff;
}


main{
    margin-top: 180px;
}

/*----------------------------------------------------------------------------------------------------------------------*/
/* Header and Navigation Bar Styles */
.header{
    width: 100%;
    height: 180px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgb(203, 150, 221);
    box-shadow: #2f2828 2px 4px 20px;

}

nav{
    display: flex;
    padding: 5px;
    width: 300px;
    height: 60px;
    right: 30px;
    top: 7vh;
    position: absolute;
    border-radius: 5px;
    border: 2px solid #45023c;

    text-decoration: none;
    overflow: hidden;
    background-color: #ffffffcc;
    box-shadow: #9e8f8f 2px 4px 20px;


}

ul{
    list-style-type: none;
}

li a{
    width: 140px;
    height: 51px;

    justify-content: center;
    display: flex;
    align-items: center;

    text-align: center;
    padding: 2.5px;
    text-decoration: none;

    color: #1F1F1F;;
    font-size: var(--ftsize);
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    text-decoration: underline;
    word-wrap: break-word
}

#projectsLink{
    top: 8px;
    left: 10px;
    position: absolute;
}

#projectsLink:hover{
    background-color: hsla(306, 100%, 86%, 0.592);
    border-radius: 5px;
    transform: scale(1.2); 
}

#contactLink{
    top: 8px;
    right: 10px;
    position:absolute;
}

#contactLink:hover{
    background-color: hsla(306, 100%, 86%, 0.592);
    border-radius: 5px;
    transform: scale(1.2); 
}

#logo-image{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 15px;
    left: 30px;
}

#PageTitle{
    position: absolute;
    top: 35px;
    left: 235px;
    font-size: 24px;
    color: #1F1F1F;
    font-weight: 24;
}

/*----------------------------------------------------------------------------------------------------------------------*/
/* Filter Bar Styles */
#optionFilterBar{
    width: 100%;
    height: 90px;
    top: 180px;
    position: absolute;

    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
    background-color: #E4E4E4;
    box-shadow: #2f2828 2px 4px 20px;

}

.filterButton{
    width: 120px;
    height: 40px;
    margin: 30px;

    border: 2px solid #45023c;
    border-radius: 5px;
    background-color: #D9D9D9;
    font-size: 18px;
    color: #1F1F1F;
    cursor: pointer;
}

.filterButton:hover{
    background-color: #a7a7a997;
    transform: scale(1.05);
    border-radius: 5px;
    box-shadow: #7f7f7f 2px 2px 2px;
}

/*----------------------------------------------------------------------------------------------------------------------*/
/* Project Styles */
#projectsContainer{
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    margin: 24px auto;
    margin-top: 270px;
}

.section{
    margin-bottom: 40px;
}

.section h2{
    font-size: 18px;
    color: #1F1F1F;
    text-align: left;
}

p{
    font-size: 14px;
    color: #1F1F1F;
    text-align: left;
}

#websites, #animations, #games, #misc{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
}
.project{
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;

    font-size: 24px;
    color: #1F1F1F;
    text-align: center;
    padding: 10px;
    gap: 10px;
    height: 250px;
}

.TextDescription{
    margin-left: auto;
    width: 70%;
    max-width: 300px;
}
.thumbnail{
    height: 160px;
    border-radius: 5px;
    box-shadow: #7f7f7f 2px 2px 4px;
    margin-top: 30px;
    margin-left: auto;
}

/*----------------------------------------------------------------------------------------------------------------------*/
/*Contact Page Edits */

#contactContainer{
    width: 80%;
    max-width: 800px;
    padding: 20px;
    margin: 24px auto;
    text-align: left;
}

#contactItem{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: auto;
    margin-right: auto;
    color: #1F1F1F;
    font-size: 16px;
}

table{
    width: 100%
}

td{
    padding: 10px;
}

.icon{
    width: 90px;
    height: 90px;

    margin-top: auto;
    margin-left: auto;
}

.readMoreBtn:hover{
    background-color: hsla(306, 100%, 86%, 0.372);
    border-radius: 1px;
    transform: scale(1.2); 
}


/*----------------------------------------------------------------------------------------------------------------------*/
/*Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 20px;
    right: 20px;
    margin: auto;
    top: 100px;
    width: 80%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: #ffffff; /* Black w/ opacity */
}

/* Modal Content/Box */
.modalContent {
    margin: 20px auto; /* 15% from the top and centered */
    padding: 50px;
    width: 80%;
    display:inline-block;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    right: 20px;
    top: 10px;
    position: absolute;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalImage{
    width: 230px;
    margin: 10px;
    padding: 10px;
}

#modalImage_NotesonOld{
    width: 500px;
    margin: 10px;
    padding: 10px;
}

.SgAImage, .modalImageOP, .modalImageCU{
    width: 600px;
    margin: 10px;
    padding: 10px;
}

.modalImageOPPos{
    width:300px;
    margin: 10px;
}